---
layout: default
title: Shell
post_scripts:
 - js/shell.js
startup_functions:
 - redirectIfNotLoggedIn()
---

<script type="text/template" id="shell-servers-template">
    <% _.each(servers, function(server){ %>
      <% var url = server.protocol.toLowerCase() + "://" + server.host + "/shell"; %>
      <div class="well">
        <h3 class="text-center"><%- server.host %> - <a href="<%- url %>">Full Screen</a> </h3>
        <iframe src="<%- url %>" width="100%" height="600px"></iframe>
      </div>
    <% }); %>
</script>

<div class="container">
  <div class="row">
    <div class="well">
      <p class="text-center">
      Your login for the shell server is your username prepended with 'shell_'.<br>
      For example user alice would login as 'shell_alice'.<br>
      Your password for the shell server is the same as for the website.<br>
      </p>
    </div>
  </div>
  <div class="row">
    <div id="shell-servers"></div>
  </div>
</div>

