/* Basic Problem Viewer */
.basic_view_header {
	cursor: pointer;
	cursor: hand;
}

.basic_view_header h3 {
	border-color: black;
}

.solved {
    color: green;
    float: right;
}

.unsolved {
    color: red;
    float: right;
}