/* Game */
#canvaswrapper {
	margin: 15px;
	position: relative;
}

#canvas {
	margin: 0;
	padding: 0;
	z-index: 0;
}

.ts_selected {
	background-color: #333333;
}

#news_holder h3 {
	border-color: black;
}

.team img {
	display: block;
	max-width: 150px;
	vertical-align: middle;
	
	background-color: white;
	
	border-radius: 15px;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	
	margin: auto;
}

.team h4, h5 {
	text-align: center;
}

#problemdisplay {
	position: absolute;
	margin-top: 10%;
	width: 100%;
}

#problemcontent {
	display: none;
	width: 70%;
	max-height: 550px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

#problemform {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 5px 5px 5px;
}

#problemsubmit {
	display: none;
}

#prob_submit_msg {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#probleminput {
	display: none;
	width: 70%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

#problemhintdialog {
	width: 600px;
}

#problemhintdialog a {
	color: white;
	text-decoration: underline;
}

#State {
	position: absolute;
	font-family: 'Press Start 2P', monospace;
	font-size: 16px;
	white-space: nowrap;
}

#CharDialog {
	position: absolute;
	font-family: 'Press Start 2P', monospace;
	font-size: 16px;
	padding-left: 20px;
	padding-top: 10px;
	width: 600px;
	height: 200px;
	color: #F00;
}

#Crash {
	position: absolute;
	font-family: 'Press Start 2P', monospace;
	font-size: 16px;
	white-space: nowrap;
}