/* Site Theme */

/** Containers **/

.container-narrow {
    max-width: 800px;
    margin: 0 auto 30px;
    padding-bottom: 5px;
}

.contentbox {
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    padding-top: 15px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

/** Elements **/

h3, h2, h1 {
    /* Underline headers across container */
    border-style: none none solid none;
    border-color: white;
    border-width: 1px;
}

a:hover {
    text-decoration: underline;
}

img {
    text-align: center;
    display: block;
    margin: 2em auto 2em auto;
}

img.logo {
    display: block;
    vertical-align: middle;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    margin: auto;
}

hr {
    border-color: white;
}

/* Navigation Bar */


.navbar-inner {
    max-width: 1250px;

    padding: 5px 0px 5px 0px;

    margin: 0 auto;

    filter: none;
}

.navbar .nav {
    float: right;
}

.navbar .brand {
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 2.5em;
    font-weight: inherit;
    text-shadow: inherit;

    margin-right: 20px;
}

.navbar .nav li, .navbar .nav li a {
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 1em;
    text-shadow: inherit;
}

.navbar .nav li a:hover, .navbar .nav .active a:hover {
    color: white;
    background-color: inherit;
    box-shadow: inherit;
    cursor: pointer;
}

.navbar .nav .active a {
    color: white;
    background-color: inherit;
    box-shadow: inherit;
    text-decoration: underline;
}

/* Footer */

.footer {
    text-align: center;

    padding-top: 1em;

    margin-top: 3em;
}


.widgetbox .row-fluid .span4, .widgetbox .row-fluid .span6 {
    /** This is an ugly way of overriding Bootstrap's row spacing. **/
    padding: 0px 15px 0px 15px;
}

.sponsor-rollcall {
    color: white;
    text-align: center;
}

.widgetbox h5 {
    /** Column header **/
    text-transform: uppercase;
}

.widgetbox img.logo {
    height: 140px;
}

.twitter-embed {
    text-align: center;
}
