/* Registration */

.registration {
	text-align: center;
	
	margin: 5% auto;
}

.registration-label.control-label {
	width: 35%;
	
	margin: auto auto auto auto;
}

div.registration-controls.controls {
	text-align: left;
	
	margin-left: 40%;
}

.form-horizontal input {
	max-width: 80%;
}

.float-right {
	float: right;
}