/* Shell */

.shell {
	background-color: white;
}

.shell-login {
	color: black;
	background-color: white;
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	font-weight: bold;
	
	border-radius: 15px;
}
