[flask]
SESSION_COOKIE_DOMAIN   = 127.0.0.1
SESSION_COOKIE_PATH     = /
SESSION_COOKIE_NAME     = flask
secret_key              =

[debug]
admin_emails            =

[email]
enable_email            = false
smtp_url                =
username                =
password                =
from_addr               =
from_name               =

[autogen]
root_web_path           = /srv/http/main-site/
relative_auto_prob_path = autoproblems/